* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter';
  font-style: normal;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
}

nav > a {
  text-decoration: none;
}

.nav {
  width: 100vw;
  height: 15vh;
  display: flex;
  align-items: center;
  background: #FFF7ED;
}

.nav__logo {
  margin: 36px auto 36px 100px; 
  font-weight: 900;
  font-size: 35px;
  line-height: 40px;
  color: #000000;
}

.nav__home, .nav__about {
  font-weight: 600;
  font-size: 25px;
  line-height: 23px;
  color: #4D4D4D;
}

.nav__home {
  margin-right: 30px;
}

.nav__about {
  margin-right: 100px;   
}

.home{
  height: 65vh;
  padding: 65px 27px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46));
}

.home__heading{
  font-weight: 800;
  font-size: 36px;
  line-height: 42px;
  color: #FFFFFF;
  margin-bottom: 23px; 
}

.home__paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 51px;
}

.home__button {
  width: 40%;
  background: #FF8C38;
  border: none;
  border-radius: 5px;
  padding: 20px;
  font-size: 20px;
}

.footer {
  background: #252525;
  padding: 27px 106px;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__paragraph {
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: #AAAAAA;
}

@media only screen and (max-width: 600px) {
  .home__button {
    width: 80%;
  }

  .nav__logo {
    margin: 36px auto 36px 26px; 
  }

  .nav__home {
    margin-right: 10px;
  }
  
  .nav__about {
    margin-right: 26px;   
  }
}
